fastapi
fastapi[all]
gunicorn
upstash_redis
fastapi-utilities
python-dotenv
supabase==2.7.1
pytest
pytest-asyncio
resend
ipfs-toolkit
pydantic
s3fs
rq
boto3==1.34.158
s3path
docker
boto3-stubs[essential]
boto3-stubs[events]
boto3-stubs[sns]
boto3-stubs[cloudtrail]