@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text color */
  --background-rgb: 239, 239, 239; /* Grey background color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-rgba));
}

.container {
  max-width: 1140px;
}

.title-container {
  padding: 20px;width: 100%;
}

.image-container {
  flex: 1;
  padding: 20px;
  width: 50%;
}

.form-container {
  flex: 1;
  padding: 20px;
  width:50%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form-container input {
  margin: 0.5rem;
  margin: 0.5rem;
  background: transparent;
}